@media (max-width: 549px) {
    .landscape {
        background-image: url(../assets/img/night.jpg);
        background-size: 45em;
    }

    .kitten {
        background-image: url(../assets/img/kitten-small.png);
        width: 27em;
        height: 15em;
        margin-top: 6em;
        margin-left: 2em;
    }

    h1 {
        font-size: 3em;
    }
}

@media (min-width: 550px) and (max-width: 700px) {
    .landscape {
        background-image: url(../assets/img/sunny-day.jpg);
        background-size: 43em;
    }

    .kitten {
        background-image: url(../assets/img/kitten-medium.png);
        width: 27em;
        height: 12em;
        margin-top: 8em;
        margin-left: 6em;
    }

    h1 {
        font-size: 4em;
    }
}

@media (min-width: 701px) and (max-width: 1600px) {
    .landscape {
        background-image: url(../assets/img/dawn.png);
        width: 57em ;
    }

    .kitten {
            background-image: url(../assets/img/kitten-large.png);
            width: 30em;
            height: 15em;
            margin-top: 10em;
            margin-left: 12em;
        }

    h1 {
        font-size: 5em;
    }
}
