* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

.landscape {
    height: 40em;
    background-image: url(../assets/img/night.jpg);
    background-repeat: no-repeat;
    background-position-x: top;
}

.kitten {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    color:pink;
    text-align: center;
}






